# Node
node_modules/
npm-debug.log*
yarn.lock
package-lock.json

# Builds & cache
dist/
.tmp/
.cache/

# Local env & secrets
.env
.env.*
*.pem
*.key

# PM2 & logs
.pnpm-store/
logs/
*.log
.pm2/

# OS cruft
.DS_Store
Thumbs.db
